.frame {
  position: relative;
  height: 100%;
  background-color: hsla(0, 0%, 3%, 100%);
}

.background {
  position: relative;
}

.backgroundGridline {
  position: absolute;
  width: 1px;
  height: 100%;
  border-left: 2px dashed rgba(255, 255, 255, 0.1);
  content: "";
  pointer-events: none;

  &:nth-child(1) {
    left: 5%;
  }

  &:nth-child(2) {
    left: 20%;
  }

  &:nth-child(3) {
    left: 35%;
  }

  &:nth-child(4) {
    left: 50%;
  }

  &:nth-child(5) {
    left: 65%;
  }

  &:nth-child(6) {
    left: 80%;
  }

  &:nth-child(7) {
    left: 95%;
  }
}

.background {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.window {
  position: relative;
  z-index: 1;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: hsla(0, 0%, 6%, 100%);

  .header {
    height: 30px;
    padding-top: 10px;
  }

  .fileName {
    height: 24px;
    color: #ffffff;
    font-family: var(--font-space-mono), monospace;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;

    > input,
    & > span,
    &:after {
      font-family: var(--font-space-mono), monospace;
      font-size: 14px;
      line-height: 24px;
    }

    & > span {
      color: rgba(255, 255, 255, 0.6);
    }
  }
}

.frameLightMode {
  background: hsla(21.572, 35.722%, 96.76%);

  .background {
    opacity: 1;
  }

  .window {
    border-color: rgba(0, 0, 0, 0.3);
    background: hsla(240, 0%, 100%);
  }

  .backgroundGridline {
    border-color: rgba(0, 0, 0, 0.3);
  }

  .header {
    border-bottom-color: rgba(0, 0, 0, 0.7);
  }

  .language {
    color: #000;
  }

  .fileName {
    color: rgba(0, 0, 0, 0.6);

    & > span {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  &.noBackground {
    background: transparent;
  }

  .outline {
    opacity: 1;
  }
}
